@page "/counter"
@attribute [RenderModeInteractiveAuto]
@inject StateService state
@inject IJSRuntime JsRuntime;

<PageTitle>Counter</PageTitle>

<p>@myCookieValue</p>

<p>State: @state.ServiceId</p>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private string myCookieValue = "<unread>";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            myCookieValue = await JsRuntime.InvokeAsync<string>("ReadCookie.ReadCookie", "sessionId");
            StateHasChanged();
        }
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
