@page "/counter"
@attribute [RenderModeInteractiveAuto]
@inject SessionManager sessions
@inject IJSRuntime JsRuntime

<PageTitle>Counter</PageTitle>

<p>@myCookieValue</p>

@if (services is not null)
{
    <p>State: @mystate</p>
}

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private string myCookieValue = "<unread>";
    private Session services;
    private string mystate;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            myCookieValue = await JsRuntime.InvokeAsync<string>("ReadCookie.ReadCookie", "sessionId");
            services = await sessions.GetSession(myCookieValue);
            mystate = (string)services["mystate"];
            StateHasChanged();
        }
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
