@page "/"
@inject IHttpContextAccessor hca
@inject SessionManager sessions
@implements IDisposable

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>@myCookieValue</p>

@if (session is not null)
{
    <p>State: @mystate</p>
}

@code
{
    private string myCookieValue = "<unread>";
    private Session session;
    private string mystate;

    protected override async Task OnInitializedAsync()
    {
        var httpContext = hca.HttpContext;
        if (httpContext is not null && !httpContext.Request.Cookies.ContainsKey("sessionId"))
        {
            myCookieValue = Guid.NewGuid().ToString();
            httpContext.Response.Cookies.Append("sessionId", myCookieValue);
        }

        if (httpContext is not null && httpContext.Request.Cookies.ContainsKey("sessionId"))
        {
            myCookieValue = httpContext.Request.Cookies["sessionId"];
        }

        if (!sessions.Contains(myCookieValue))
        {
            session = new Session();
            sessions.Add(myCookieValue, session);
            session.Add("mystate", Guid.NewGuid().ToString());
        }
        else
        {
            session = await sessions.GetSession(myCookieValue);
        }
        session.Changed += SessionChanged;
        mystate = (string)session["mystate"];
    }

    private void SessionChanged()
    {
        mystate = (string)session["mystate"];
        StateHasChanged();
    }

    public void Dispose()
    {
        session.Changed -= SessionChanged; 
    }
}